<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moka2popsy</title>
      <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
      <link href="../assets/css/main.css" rel="stylesheet">
      <link href="../assets/css/responsive.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
      <div class="row center" id="title">
          <h2>Moka2Popsy</h2>
          <h3><span id="version"></span></h3>
          <h4>Choix de la société :</h4>
      </div>

      <div class="row" id="society">
          <div class="col-xs-12 col-sm-3 active" id="azzabe" style="padding: 5px">
              <div class="recent-work-wrap">
                  <img class="img-responsive" src="../assets/images/logos/azza_be.png" alt="" height="200">
                  <div class="overlay">
                      <div class="recent-work-inner">
                          <h3><a href="#">Azza Belgique</a> </h3>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-xs-12 col-sm-3" id="azzafr" style="padding: 5px">
              <div class="recent-work-wrap">
                  <img class="img-responsive" src="../assets/images/logos/azza_fr.png" alt="" height="200">
                  <div class="overlay">
                      <div class="recent-work-inner">
                          <h3><a href="#">Azza France</a></h3>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-xs-12 col-sm-3" id="ozzebe" style="padding: 5px">
              <div class="recent-work-wrap">
                  <img class="img-responsive" src="../assets/images/logos/ozze_be.png" alt="" height="200">
                  <div class="overlay">
                      <div class="recent-work-inner">
                          <h3><a href="#">Ozze Belgique</a></h3>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-xs-12 col-sm-3" id="ozzefr" style="padding: 5px">
              <div class="recent-work-wrap">
                  <img class="img-responsive" src="../assets/images/logos/ozze_fr.png" alt="" height="200">
                  <div class="overlay">
                      <div class="recent-work-inner">
                          <h3><a href="#">Ozze France</a></h3>
                      </div>
                  </div>
              </div>
          </div>
      </div><!--/.row-->

      <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Transformation en cours</h4>
                  </div>
                  <div class="modal-body">
                      <p>Traitement ... Veuillez patienter</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row" style="margin-top: 5em">
          <div class="form-group center">
              <input type="button" class="btn btn-primary btn-lg" id="file" value="Traiter le fichier"/>
          </div>
      </div>


  </div>
  <footer id="footer" class="midnight-blue">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
              </div>
              <div class="col-sm-6">
                  <ul class="pull-right">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Faq</a></li>
                      <li><a href="#">Contact Us</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>

    <script>
        const $ = jQuery = require('jquery');
    </script>


    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
    require('../js/index.js')
    </script>
    <script src="../assets/js/jquery.prettyPhoto.js"></script>
    <script src="../assets/js/jquery.isotope.min.js"></script>
    <script src="../assets/js/wow.min.js"></script>
  <script>
      $('#version').html(window.location.hash.substring(1));
      const electron = require('electron');
      const ipc = electron.ipcRenderer;
      ipc.on('message', function(event, text) {
          var container = document.getElementById('messages');
          var message = document.createElement('div');
          message.innerHTML = text;
          container.appendChild(message);
      })

  </script>
  </body>
</html>
