#society .title.center {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 30px;
}
#homepage {
    padding: 0px 0px 0px 0px;
}

.form-group {
    margin-bottom: 0px;
}